<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <% if(typeof titlePage !== 'undefined'){ %>
    <title><%= titlePage %></title>
  <% }else{ %>
    <title>ContabPlus</title>
  <% }%>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/style-metro.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/style-responsive.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
  <link href="/static/css/uniform.default.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/bootstrap-modal.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/select2_metro.min.css"/ rel="stylesheet" type="text/css" >
  <link href="/static/css/datepicker.min.css"/ rel="stylesheet" type="text/css" >
  <link href="/static/plugins/chosen-bootstrap/chosen/chosen.min.css" rel="stylesheet" type="text/css"  />
  <link href="/static/css/daterangepicker.min.css"/ rel="stylesheet" type="text/css" >
  
  <!-- END GLOBAL MANDATORY STYLES -->
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-sidebar-closed">
  <!-- BEGIN HEADER -->   
  <div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
      <div class="container-fluid">
        <!-- BEGIN LOGO -->
        <a class="brand" href="/contab/home">
        <img src="/static/img/logo.png" alt="logo" style="width: 120px;" />
        </a>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <img src="/static/img/menu-toggler.png" alt="" />
        </a>          
        <!-- END RESPONSIVE MENU TOGGLER -->            
        <!-- BEGIN TOP NAVIGATION MENU -->              
        <ul class="nav pull-right"> 
          <!-- BEGIN INBOX DROPDOWN -->
          <li class="dropdown" id="header_inbox_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-envelope"></i>
            <span class="badge">5</span>
            </a>
            <ul class="dropdown-menu extended inbox">
              <li>
                <p>You have 12 new messages</p>
              </li>
              <li>
                <ul class="dropdown-menu-list scroller" style="height:250px">
                  <li>
                    <a href="inbox.html?a=view">
                    <span class="photo"><img src="./assets/img/avatar2.jpg" alt="" /></span>
                    <span class="subject">
                    <span class="from">Lisa Wong</span>
                    <span class="time">Just Now</span>
                    </span>
                    <span class="message">
                    Vivamus sed auctor nibh congue nibh. auctor nibh
                    auctor nibh...
                    </span>  
                    </a>
                  </li>
                  <li>
                    <a href="inbox.html?a=view">
                    <span class="photo"><img src="./assets/img/avatar3.jpg" alt="" /></span>
                    <span class="subject">
                    <span class="from">Richard Doe</span>
                    <span class="time">16 mins</span>
                    </span>
                    <span class="message">
                    Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh
                    auctor nibh...
                    </span>  
                    </a>
                  </li>
                  <li>
                    <a href="inbox.html?a=view">
                    <span class="photo"><img src="./assets/img/avatar1.jpg" alt="" /></span>
                    <span class="subject">
                    <span class="from">Bob Nilson</span>
                    <span class="time">2 hrs</span>
                    </span>
                    <span class="message">
                    Vivamus sed nibh auctor nibh congue nibh. auctor nibh
                    auctor nibh...
                    </span>  
                    </a>
                  </li>
                  <li>
                    <a href="inbox.html?a=view">
                    <span class="photo"><img src="./assets/img/avatar2.jpg" alt="" /></span>
                    <span class="subject">
                    <span class="from">Lisa Wong</span>
                    <span class="time">40 mins</span>
                    </span>
                    <span class="message">
                    Vivamus sed auctor 40% nibh congue nibh...
                    </span>  
                    </a>
                  </li>
                  <li>
                    <a href="inbox.html?a=view">
                    <span class="photo"><img src="./assets/img/avatar3.jpg" alt="" /></span>
                    <span class="subject">
                    <span class="from">Richard Doe</span>
                    <span class="time">46 mins</span>
                    </span>
                    <span class="message">
                    Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh
                    auctor nibh...
                    </span>  
                    </a>
                  </li>
                </ul>
              </li>
              <li class="external">
                <a href="inbox.html">See all messages <i class="m-icon-swapright"></i></a>
              </li>
            </ul>
          </li>
          <!-- END INBOX DROPDOWN -->             
          <!-- BEGIN USER LOGIN DROPDOWN -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-user" style="font-size:23px;position:relative;top:4px;"></i>
            <span class="username"><%= userData.useName%></span>
            <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/contab/profile"><i class="icon-user"></i> Mi cuenta</a></li>            
              <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Toda la pantalla</a></li>
              <li><a href="/auth/logout"><i class="icon-key"></i> Salir</a></li>
            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
        <!-- END TOP NAVIGATION MENU --> 
      </div>
    </div>
    <!-- END TOP NAVIGATION BAR -->
  </div>
  <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->   
  <div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->        
      <ul class="page-sidebar-menu">
        <li>
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler hidden-phone"></div>
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li>
          <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
          <!--<form class="sidebar-search">
            <div class="input-box">
              <a href="javascript:;" class="remove"></a>
              <input type="text" placeholder="Search..." />
              <input type="button" class="submit" value=" " />
            </div>
          </form> -->
          <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>

        <li class="start <% if(active == 0) { %> active<% } %> ">
          <a href="/contab/home">
          <i class="icon-home "></i> 
          <span class="title">Inicio</span>
          </a>
        </li>
        <% for(var j = 0; j <menu.length; j++) { %>          
        <li  <% if(active == menu[j].menId) { %> class="active" <% } %>  </li>
          <a href="javascript:;">
          <i class="<%=menu[j].menIco%>"></i> 
          <span class="title"><%=menu[j].menName%></span>
          <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
              
            <% for(var i = 0; i < processes.length; i++) { %>
              <% if(processes[i].menIdFk == menu[j].menId) { %>
                <li >
                  <a href="<%=processes[i].proUrl%>">
                    <%=processes[i].proName%></a>
                </li> 
              <% } %> 
            <% } %>          
          </ul>
        </li>
        <% } %>
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>    